@page
@model P08ShopWebApp.Client.Pages.CalculatorBindingModel


<p>Binding approche</p>

<form method="post" asp-page-handler="Add">
    @* method="get"*@

    <label for="Number1">Number 1:</label>
    <input id="Number1" value="@Model.Number1" name="Number1" />
    <br />
    <label for="Number2">Number 2:</label>
    <input id="Number2" value="@Model.Number2" name="Number2" />

    <br />
    <input type="submit" value="Calculate sum" />

    <p>Result: @Model.AdditionResult</p>

</form>

<form method="post" asp-page-handler="Substract">
    @* method="get"*@

    <label for="Number1">Number 1:</label>
    <input id="Number1" value="@Model.Number1" name="Number1" />
    <br />
    <label for="Number2">Number 2:</label>
    <input id="Number2" value="@Model.Number2" name="Number2" />

    <br />
    <input type="submit" value="Calculate sum" />

    <p>Result: @Model.SubstractionResult</p>

</form>